In [1]:
#Imports

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests

# Dictionary with top schools

In [2]:
schools = {   
'4geeks-academy'  : 10492,
'academia-de-codigo'  : 10494,
'actualize'  : 10505,
'altcademy'  : 10517,
'app-academy'  : 10525,
'bloomtech'  : 10854,
'brainstation'  : 10571,
'careerfoundry'  : 10581,
'careerist'  : 11280,
'claim-academy'  : 10589,
'clarusway'  : 11539,
'code-fellows'  : 10614,
'code-institute'  : 10619,
'codesmith'  : 10643,
'codeworks'  : 10650,
'coding-bootcamp-praha'  : 10658,
'coding-dojo'  : 10659,
'coding-temple'  : 10664,
#'correlation-one'  : 11528,
'datacamp'  : 10682,
'dataquest'  : 10683,
'data-science-dojo'  : 10685,
'datascientest'  : 11232,
'designlab'  : 10697,
'devcodecamp'  : 10703,
'developers-institute'  : 10705,
'devmountain'  : 10710,
'digitalcrafts'  : 10719,
'epicodus'  : 10739,
'evolve-security-academy'  : 10743,
'flatiron-school'  : 10748,
'general-assembly'  : 10761,
'greyatom-school-of-data-science'  : 10776,
'h-academy'  : 11518,
'hack-reactor'  : 10788,
'hacktiv8'  : 10791,
'hackwagon-academy'  : 10792,
'heicoders-academy'  : 11287,
'holberton-school'  : 10796,
'hyperiondev'  : 10801,
'ironhack'  : 10828,
'jedha'  : 10837,
'juno-college-of-technology'  : 10787,
'kenzie-academy'  : 10843,
'knowledgehut'  : 10846,
'la-capsule'  : 10853,
'learningfuze'  : 10862,
'le-wagon'  : 10868,
'lighthouse-labs'  : 10869,
'makers-academy'  : 10874,
'microverse'  : 10888,
'neoland'  : 10906,
'nucamp'  : 10923,
'nyc-data-science-academy'  : 10925,
'practicum'  : 11225,
'product-gym'  : 10959,
'product-school'  : 10960,
'react-graphql-academy'  : 10972,
'rmotr'  : 10987,
'rocket-academy'  : 11483,
'school-of-it'  : 11006,
'shecodes'  : 11014,
'simplilearn'  : 11016,
'sit-academy'  : 10965,
'skillcrush'  : 11020,
'software-development-academy'  : 11030,
'springboard'  : 11035,
'startup-institute'  : 11042,
'tech-elevator'  : 11056,
'tech-talent-south'  : 11059,
'the-job-hackers'  : 11085,
'the-tech-academy'  : 11091,
'thinkful'  : 11098,
'udacity'  : 11118,
'ux-design-institute'  : 11150,
'uxer-school'  : 11151,
'wild-code-school'  : 11169,
'wyncode'  : 11174,
'xccelerate'  : 11175,

}

# Functions

In [3]:
#Function for Scraping 
def get_comments_school(school):
    #This function extracts all the 
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [4]:
#get_comments_school('wyncode')

In [5]:
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

4geeks-academy
academia-de-codigo
actualize
altcademy
app-academy
bloomtech
brainstation
careerfoundry
careerist
claim-academy
clarusway
code-fellows
code-institute
codesmith
codeworks
coding-bootcamp-praha
coding-dojo
coding-temple
datacamp
dataquest
data-science-dojo
datascientest
designlab
devcodecamp
developers-institute
devmountain
digitalcrafts
epicodus
evolve-security-academy
flatiron-school
general-assembly
greyatom-school-of-data-science
h-academy
hack-reactor
hacktiv8
hackwagon-academy
heicoders-academy
holberton-school
hyperiondev
ironhack
jedha
juno-college-of-technology
kenzie-academy
knowledgehut
la-capsule
learningfuze
le-wagon
lighthouse-labs
makers-academy
microverse
neoland
nucamp
nyc-data-science-academy
practicum
product-gym
product-school
react-graphql-academy
rmotr
rocket-academy
school-of-it
shecodes
simplilearn
sit-academy
skillcrush
software-development-academy
springboard
startup-institute
tech-elevator
tech-talent-south
the-job-hackers
the-tech-academy
thinkful
udacity
ux-design-institute
uxer-school
wild-code-school
wyncode
xccelerate

In [6]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

In [7]:
locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

4geeks-academy

/var/folders/qc/598rf5kn0sz5cshnx3dqfdlw0000gn/T/ipykernel_9527/4240401434.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  locations_df = json_normalize(locations)

academia-de-codigo
actualize
altcademy
app-academy
bloomtech
brainstation
careerfoundry
careerist
claim-academy
clarusway
code-fellows
code-institute
codesmith
codeworks
coding-bootcamp-praha
coding-dojo
coding-temple
datacamp
dataquest
data-science-dojo
datascientest
designlab
devcodecamp
developers-institute
devmountain
digitalcrafts
epicodus
evolve-security-academy
flatiron-school
general-assembly
greyatom-school-of-data-science
h-academy
hack-reactor
hacktiv8
hackwagon-academy
heicoders-academy
holberton-school
hyperiondev
ironhack
jedha
juno-college-of-technology
kenzie-academy
knowledgehut
la-capsule
learningfuze
le-wagon
lighthouse-labs
makers-academy
microverse
neoland
nucamp
nyc-data-science-academy
practicum
product-gym
product-school
react-graphql-academy
rmotr
rocket-academy
school-of-it
shecodes
simplilearn
sit-academy
skillcrush
software-development-academy
springboard
startup-institute
tech-elevator
tech-talent-south
the-job-hackers
the-tech-academy
thinkful
udacity
ux-design-institute
uxer-school
wild-code-school
wyncode
xccelerate

In [8]:
#Dataframes creation 
locations = pd.concat(locations_list)
courses = pd.concat(courses_list)
badges = pd.concat(badges_list)
schools = pd.concat(schools_list)

In [9]:
#Function to clean
def clean_text_tag(col):
    col.str.replace('<span class="truncatable"><p></p><p>','')
    col.str.replace('<span class="truncatable"><p>','')
    col.str.replace('<p>','')
    col.str.replace('</p>','')

# Dataframes exploration

In [10]:
# Tables / dataframes
    # comments
    # locations
    # courses
    # badges
    # schools

In [11]:
#Sizes for all
print('Comments',comments.shape)
print('locations',locations.shape)
print('courses',courses.shape)
print('badges',badges.shape)
print('schools',schools.shape)

Comments (23966, 21)
locations (506, 14)
courses (536, 3)
badges (163, 5)
schools (78, 5)

### We start exploring for cleaning process by table/dataframe

In [12]:
#we start with comments
comments.describe()

                  id  graduatingYear
count   23966.000000    23731.000000
mean   257591.294250     2018.813914
std     16284.725706        1.838075
min    231508.000000     2010.000000
25%    243254.250000     2018.000000
50%    257223.500000     2019.000000
75%    271350.000000     2020.000000
max    287341.000000     2022.000000

In [13]:
comments.sample(15)

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
370,275537,TAYLOR MYERS,False,None,2021.0,False,UX/UI Designer,I was on the fence reading these too...,"<span class=""truncatable""><p></p><p>I just com...",<p>I just compleated the Springboard course an...,...,2021-04-05,UI/UX Design Career Track,{'image': None},4.7,[],5.0,5.0,4.0,I just compleated the Springboard course and h...,springboard
79,267357,Anonymous,True,Software Engineering,2020.0,False,Software Engineer,Hands-down THE best educational experience of ...,"<span class=""truncatable""><p>I have done a lot...","I have done a lot of educational programs, but...",...,2020-08-10,Software Engineering Immersive,{'image': None},5.0,[],5.0,5.0,5.0,"I have done a lot of educational programs, but...",hack-reactor
1914,238734,Jordy Backes,False,None,2016.0,True,None,Fulfilling,"<span class=""truncatable""><p>Before joining Le...",Before joining Le Wagon I was student in Amste...,...,2017-10-12,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,Before joining Le Wagon I was student in Amste...,le-wagon
175,269043,Alexis D,False,None,2020.0,False,Web Developer,I particularly appreciated the quality of the ...,"<span class=""truncatable""><p>I have been a com...",I have been a communication manager for severa...,...,2020-10-02,Fullstack JavaScript Web Developer,{'image': None},5.0,[],5.0,5.0,5.0,I have been a communication manager for severa...,la-capsule
473,250947,Chris Field,False,UX/UI Design,2019.0,True,Art Director,UX: Research &amp; Strategy,"<span class=""truncatable""><p>This course excee...",This course exceeded my expectations. While I ...,...,2019-05-06,UX Research & Strategy,{'image': None},5.0,[],5.0,5.0,NaN,This course exceeded my expectations. While I ...,designlab
90,238805,Daniel Schroeder,False,Web Development,2017.0,True,Freelance Musician and Web Developer,"One of the best education decisions I've made,...","<span class=""truncatable""><p>I jumped into the...",I jumped into the Tech Talent South Code Immer...,...,2017-10-11,Full-Time Code Immersion Program,{'image': None},5.0,[],5.0,5.0,5.0,I jumped into the Tech Talent South Code Immer...,tech-talent-south
225,233815,Eugene M,False,None,2014.0,True,Software Engineer,You get what you put in,"<p>Made some great friends, got a job, worked ...","Made some great friends, got a job, worked my ...",...,2017-01-13,None,{'image': None},4.7,[],5.0,5.0,4.0,"Made some great friends, got a job, worked my ...",flatiron-school
667,269843,Kay Richardson,False,None,2020.0,False,,It's a game changer.,"<span class=""truncatable""><p>This workshop is ...","This workshop is it! When starting it, I didn'...",...,2020-10-29,SheCodes Online Workshop,{'image': None},5.0,[],5.0,5.0,5.0,"This workshop is it! When starting it, I didn'...",shecodes
1342,244609,Adriaan,False,None,2018.0,True,None,Intro to Programming ND,"<span class=""truncatable""><p>The program takes...",The program takes you from the very basic to s...,...,2018-08-20,None,{'image': None},5.0,[],5.0,5.0,NaN,The program takes you from the very basic to s...,udacity
707,257192,Rafał Bagrowski,False,Software Engineering,2018.0,False,None,Results exceeding all expectations - Udacity F...,"<span class=""truncatable""><p>Front End Web Dev...",Front End Web Developer Nanodegree prepared me...,...,2019-10-11,Front End Web Developer,{'image': None},5.0,[],5.0,5.0,5.0,Front End Web Developer Nanodegree prepared me...,udacity
12,277561,Anonymous,True,None,2020.0,False,Software Engineer,FANTASTIC,"<span class=""truncatable""><p></p><p>I just lov...",<p>I just love the fact that I get to write co...,...,2021-05-27,None,{'image': None},5.0,[],5.0,5.0,5.0,I just love the fact that I get to write code ...,dataquest
298,240392,Jorge Carmona,False,Software Engineering,2017.0,True,Full-Stack Developer,Coding Dojo prepared me for my career change.,"<span class=""truncatable""><p>I always had a pa...",I always had a passion for technology since co...,...,2018-11-08,Onsite Software Development Immersive Bootcamp...,{'image': None},5.0,[],5.0,5.0,5.0,I always had a passion for technology since co...,coding-dojo
54,241082,Jesse Hatton,False,Software Engineering,2018.0,True,None,"All good things come to an end...""sigh!""","<span class=""truncatable""><p>The Code Immersio...",The Code Immersion course definitely met expec...,...,2018-03-19,Full-Time Code Immersion Program,{'image': None},4.0,[],4.0,4.0,NaN,The Code Immersion course definitely met expec...,tech-talent-south
197,239788,Anonymous,True,Bootcamp Prep,2017.0,True,C# developer,Awesome prep course,"<span class=""truncatable""><p>Hack Reactor's cu...",Hack Reactor's curriculum is just amazing! You...,...,2018-06-05,Bootcamp Prep,{'image': None},5.0,[],5.0,5.0,NaN,Hack Reactor's curriculum is just amazing! You...,hack-reactor
3,282965,Simba Chikuni,False,None,2021.0,True,Business Consultant,Well structured course,"<span class=""truncatable""><p></p><p>Thee cours...",<p>Thee course was very well designed. All the...,...,2021-11-02,,{'image': None},5.0,[],5.0,5.0,NaN,Thee course was very well designed. All the kn...,simplilearn

In [14]:
# Review types for the columns
#We can see that some columns should be numbers float/int and they arent 
comments.dtypes

id                   int64
name                object
anonymous             bool
hostProgramName     object
graduatingYear     float64
isAlumni            object
jobTitle            object
tagline             object
body                object
rawBody             object
createdAt           object
queryDate           object
program             object
user                object
overallScore        object
comments            object
overall             object
curriculum          object
jobSupport          object
review_body         object
school              object
dtype: object

In [15]:
#Validation for empty values
comments.isnull().sum()

id                     0
name                   0
anonymous              0
hostProgramName    13368
graduatingYear       235
isAlumni              17
jobTitle            9285
tagline                3
body                   0
rawBody                0
createdAt              0
queryDate              0
program             3663
user                   0
overallScore          48
comments               0
overall               50
curriculum           878
jobSupport          3165
review_body            0
school                 0
dtype: int64

In [16]:
#There are empty spaces
comments[comments['overallScore'].isnull()].count()

id                 48
name               48
anonymous          48
hostProgramName    11
graduatingYear     41
isAlumni           48
jobTitle            7
tagline            47
body               48
rawBody            48
createdAt          48
queryDate          48
program            24
user               48
overallScore        0
comments           48
overall             0
curriculum          0
jobSupport          0
review_body        48
school             48
dtype: int64

In [17]:
comments['overallScore'].unique()

array(['5.0', '3.7', '2.0', '4.7', '4.3', '3.0', '4.0', '4.5', '3.5',
       '3.3', '2.3', '1.7', '1.5', '1.0', '2.7', '1.3', '2.5', None,
       '4.2', '4.8', '3.2'], dtype=object)

In [18]:
comments['overall'].unique()

array(['5.0', '2.0', '4.0', '3.0', '1.0', nan, '4.5', '3.5'], dtype=object)

In [19]:
comments['overallScore'].value_counts()

5.0    15811
4.7     2944
4.3     1667
4.0     1490
3.7      567
4.5      264
1.0      230
3.3      226
3.0      221
2.0      116
2.7       92
2.3       80
1.7       73
1.3       68
3.5       34
2.5       16
1.5       15
4.2        2
4.8        1
3.2        1
Name: overallScore, dtype: int64

In [20]:
comments['overall'].value_counts()

5.0    20196
4.0     2789
3.0      359
1.0      348
2.0      218
4.5        5
3.5        1
Name: overall, dtype: int64

In [21]:
comments['comments'].isnull().sum()

0

In [22]:
comments['curriculum'].unique()

array(['5.0', '2.0', '4.0', '3.0', nan, '1.0', '2.5'], dtype=object)

In [23]:
comments['jobSupport'].unique()

array(['5.0', '1.0', '2.0', '3.0', '4.0', nan], dtype=object)

## Cleanning proccess for all the tables

### Table comments

In [24]:
comments[['overallScore','overall','curriculum','jobSupport']] = comments[['overallScore','overall','curriculum','jobSupport']].astype('float64')

In [25]:
comments.dtypes

id                   int64
name                object
anonymous             bool
hostProgramName     object
graduatingYear     float64
isAlumni            object
jobTitle            object
tagline             object
body                object
rawBody             object
createdAt           object
queryDate           object
program             object
user                object
overallScore       float64
comments            object
overall            float64
curriculum         float64
jobSupport         float64
review_body         object
school              object
dtype: object

In [26]:
comments['graduatingYear'].unique()

array([2022., 2021., 2020., 2019., 2018., 2016., 2017., 2015., 2014.,
       2012.,   nan, 2011., 2013., 2010.])

In [27]:
#For empty/nan we will replace it with 0 , it Could be another Value like No Date
comments['graduatingYear'] = comments['graduatingYear'].fillna(0)

In [28]:
comments['graduatingYear'].unique()

array([2022., 2021., 2020., 2019., 2018., 2016., 2017., 2015., 2014.,
       2012.,    0., 2011., 2013., 2010.])

In [29]:
#pd.to_datetime(comments['graduatingYear'])
#comments['graduatingYear'].dt.strftime('%d.%m.%Y')

comments['graduatingYear'] = comments['graduatingYear'].astype('int64')

In [30]:
comments['graduatingYear'].unique()

array([2022, 2021, 2020, 2019, 2018, 2016, 2017, 2015, 2014, 2012,    0,
       2011, 2013, 2010])

In [31]:
comments.dtypes

id                   int64
name                object
anonymous             bool
hostProgramName     object
graduatingYear       int64
isAlumni            object
jobTitle            object
tagline             object
body                object
rawBody             object
createdAt           object
queryDate           object
program             object
user                object
overallScore       float64
comments            object
overall            float64
curriculum         float64
jobSupport         float64
review_body         object
school              object
dtype: object

In [32]:
#Changing column to datetime type
comments['queryDate'] = pd.to_datetime(comments['queryDate'])
#comments['queryDate'].dt.strftime('%d.%m.%Y')
comments['queryDate']

0     2022-04-01
1     2022-03-24
2     2022-03-23
3     2022-03-17
4     2022-03-17
         ...
181   2017-11-28
182   2017-10-25
183   2017-10-19
184   2017-09-13
185   2017-08-03
Name: queryDate, Length: 23966, dtype: datetime64[ns]

In [33]:
#Changing column to datetime type
comments['createdAt'] = pd.to_datetime(comments['createdAt'])
#comments['queryDate'].dt.strftime('%d.%m.%Y')
comments['createdAt']

0     2022-04-01
1     2022-03-24
2     2022-03-23
3     2022-03-17
4     2022-03-17
         ...
181   2017-11-28
182   2017-10-25
183   2017-10-19
184   2017-09-13
185   2017-08-03
Name: createdAt, Length: 23966, dtype: datetime64[ns]

In [34]:
comments.dtypes

id                          int64
name                       object
anonymous                    bool
hostProgramName            object
graduatingYear              int64
isAlumni                   object
jobTitle                   object
tagline                    object
body                       object
rawBody                    object
createdAt          datetime64[ns]
queryDate          datetime64[ns]
program                    object
user                       object
overallScore              float64
comments                   object
overall                   float64
curriculum                float64
jobSupport                float64
review_body                object
school                     object
dtype: object

In [35]:
comments.sample(3)

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
544,270192,Anshul Vyas,False,None,2020,False,,Springboard || Best professional Data Science ...,"<span class=""truncatable""><p>I was looking for...",I was looking for a professional course on Dat...,...,2020-11-10,Data Science Career Track,{'image': None},5.0,[],5.0,5.0,5.0,I was looking for a professional course on Dat...,springboard
184,266069,David Poh Wei Boon,False,Data Science,2020,True,,Hackwagon DS101,"<span class=""truncatable""><p>Hackwagon DS101 h...",Hackwagon DS101 has allowed me to learn the fu...,...,2020-07-03,Data Science,{'image': None},4.7,[],5.0,5.0,4.0,Hackwagon DS101 has allowed me to learn the fu...,hackwagon-academy
75,247362,Christopher Bücklein,False,Software Engineering,2018,True,Sr. Marketing Manager,Why I'd always go back there again,"<span class=""truncatable""><p>I just completed ...",I just completed my course a month ago and I w...,...,2019-01-26,Software Engineering Immersive,{'image': None},5.0,[],5.0,5.0,5.0,I just completed my course a month ago and I w...,codeworks

In [36]:
#Not usefull columns
# user
comments['user'].sample(4)

350    {'image': None}
381    {'image': None}
260    {'image': None}
578    {'image': None}
Name: user, dtype: object

In [37]:
#Already droped,
#comments.drop(['user'],axis=1,inplace=True)

In [38]:
comments.head()

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,287305,Javier Leyva Seiglie,False,None,2022,False,Full Stack web developer,"On a simple word, the actual best","<span class=""truncatable""><p></p><p>This is a ...",<p>This is a beast! The best! I attain the ful...,...,2022-04-01,Full Stack Software Development,{'image': None},5.0,[],5.0,5.0,5.0,This is a beast! The best! I attain the full s...,4geeks-academy
1,287077,Oswaldo Salas,False,None,2021,False,,Obtener mucho conocimiento sin frustrarte,"<span class=""truncatable""><p></p><p>Me gusto m...",<p>Me gusto mucho la din&aacute;mica para ir s...,...,2022-03-24,Full Stack Software Development,{'image': None},5.0,[],5.0,5.0,5.0,Me gusto mucho la dinámica para ir superando c...,4geeks-academy
2,287024,Oswaldo Salas,False,None,2021,False,,Obtener mucho conocimiento sin frustrarte,"<span class=""truncatable""><p></p><p>Particular...",<p>Particularmente creo que el programa de ent...,...,2022-03-23,Full Stack Software Development,{'image': None},3.7,[],5.0,5.0,1.0,Particularmente creo que el programa de entren...,4geeks-academy
3,286880,Aaron Arismendi,False,None,2021,False,Desarrollador Full Stack,Una experiencia única,"<span class=""truncatable""><p></p><p>No sabía n...",<p>No sab&iacute;a nada a cerca de programaci&...,...,2022-03-17,Full Stack Software Development,{'image': None},5.0,[],5.0,5.0,5.0,No sabía nada a cerca de programación hasta qu...,4geeks-academy
4,286878,Octavio Lara,False,None,2021,False,Software engineer,A fulfilling experience,"<span class=""truncatable""><p></p><p>I'd say th...",<p>I&#39;d say the main pro would be the commu...,...,2022-03-17,Full Stack Software Development Part Time,{'image': None},5.0,[],5.0,5.0,5.0,I'd say the main pro would be the community. T...,4geeks-academy

In [39]:
#Adjust Text eliminaring <p>
comments['rawBody'] = comments['rawBody'].str.replace('<p>','')
comments['rawBody']
#= comments['rawBody']

0      This is a beast! The best! I attain the full s...
1      Me gusto mucho la din&aacute;mica para ir supe...
2      Particularmente creo que el programa de entren...
3      No sab&iacute;a nada a cerca de programaci&oac...
4      I&#39;d say the main pro would be the communit...
                             ...
181    You never know how you can improve if you don'...
182    This course has provided me with the right too...
183    Nice bootcamp for people to learn who to codin...
184    Everything I learned was broad enough to be re...
185    Accelerate was a good choice for me because I ...
Name: rawBody, Length: 23966, dtype: object

In [40]:
comments['body'] = comments['body'].str.replace('<span class="truncatable"><p></p><p>','')
comments['body'] = comments['body'].str.replace('<span class="truncatable"><p>','')
comments['body'] = comments['body'].str.replace('<p>','')
badges['description'] = badges['description'].str.replace('</p>','')
comments['body'].sample(6)

551     It introduced me to the world of programming w...
1267    The projects Udacity offers are, in general, a...
391     The UX Foundations Course is an excellent, int...
111     The class and group is centered around agile p...
283     I am a graphic designer and I always wanted to...
199     Coding Dojo gave me direction when I was absol...
Name: body, dtype: object

In [41]:
comments.sample(5)

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
23,262288,Anonymous,True,Data Science,2020,False,,Empowering,This class will stretch your mind in ways you ...,This class will stretch your mind in ways you ...,...,2020-02-27,,{'image': None},5.0,[],5.0,5.0,5.0,This class will stretch your mind in ways you ...,data-science-dojo
744,238866,Santiago Becerra Conti,False,UX/UI Design,2018,True,Product Designer,"Thanks to Ironhack, I was able to be part of t...",During February and March I've coursed the UX/...,During February and March I've coursed the UX/...,...,2018-04-09,Full-time UX/UI Design Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,During February and March I've coursed the UX/...,ironhack
259,280027,Allyson Varga,False,None,2021,False,Sales Coach,You won't regret learning something new! :),I LOVED learning the basics of coding in this ...,I LOVED learning the basics of coding in this ...,...,2021-08-05,SheCodes Basics,{'image': None},5.0,[],5.0,5.0,5.0,I LOVED learning the basics of coding in this ...,shecodes
863,256974,Mitch,False,None,2017,False,None,Flexible pace and learning,I already watch many online courses and Udacit...,I already watch many online courses and Udacit...,...,2019-10-11,None,{'image': None},4.0,[],4.0,4.0,4.0,I already watch many online courses and Udacit...,udacity
148,242628,Agung Pangestu,False,None,2018,True,None,Best Javascript Coding Bootcamp,"hacktiv8 is great for beginners, I feel myself...","hacktiv8 is great for beginners, I feel myself...",...,2018-02-22,None,{'image': None},5.0,[],5.0,5.0,5.0,"hacktiv8 is great for beginners, I feel myself...",hacktiv8

### Table locations

In [42]:
locations.sample(5)

,id,description,country.id,country.name,country.abbrev,state.id,state.name,state.abbrev,state.keyword,city.id,city.name,city.keyword,school,school_id
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,NaN,NaN,NaN,NaN,31121.0,Sao Paulo,sao-paulo,ironhack,10828
38,17758,"Stare Mesto, Czech Republic",31.0,Czech Republic,CZ,NaN,NaN,NaN,NaN,31251.0,Staré Město,stare-mesto,software-development-academy,11030
85,16900,"Stockholm, Sweden",37.0,Sweden,SE,NaN,NaN,NaN,NaN,31109.0,Stockholm,stockholm,nucamp,10923
0,16809,"Paris, France",38.0,France,FR,NaN,NaN,NaN,NaN,31136.0,Paris,paris,wild-code-school,11169
14,17797,"Toulouse, France",38.0,France,FR,NaN,NaN,NaN,NaN,31191.0,Toulouse,toulouse,holberton-school,10796

In [43]:
locations.dtypes

id                  int64
description        object
country.id        float64
country.name       object
country.abbrev     object
state.id          float64
state.name         object
state.abbrev       object
state.keyword      object
city.id           float64
city.name          object
city.keyword       object
school             object
school_id           int64
dtype: object

In [44]:
#Validation for empty values
locations.isnull().sum()

id                  0
description         0
country.id         65
country.name       65
country.abbrev     65
state.id          228
state.name        228
state.abbrev      228
state.keyword     229
city.id            66
city.name          66
city.keyword       66
school              0
school_id           0
dtype: int64

In [45]:
locations.isna()

,id,description,country.id,country.name,country.abbrev,state.id,state.name,state.abbrev,state.keyword,city.id,city.name,city.keyword,school,school_id
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,True,True,True,False,False,False,False,False
2,False,False,False,False,False,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,False,False,True,True,True,False,False,False,False,True,True,True,False,False
25,False,False,False,False,False,True,True,True,True,False,False,False,False,False
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,False,False,True,True,True,True,False,False,False,False,False
1,False,False,True,True,True,False,False,False,False,True,True,True,False,False

In [46]:
locations[['description','country.id','country.name']].sample(4)
#Empty conuntries is bevause is online

                    description  country.id   country.name
2        Kowloon Bay, Hong Kong       144.0      Hong Kong
2       Buenos Aires, Argentina        60.0      Argentina
0  Cleveland, OH, United States         1.0  United States
3               London, England        61.0        England

In [47]:
locations['description'][locations['country.name'].isnull()].unique()

array(['Online'], dtype=object)

### Table courses

In [48]:
#This one looks ok
courses

,courses,school,school_id
0,Ai and Machine Learning Full-Stack Program,4geeks-academy,10492
1,Full Stack Software Development,4geeks-academy,10492
2,Full Stack Software Development Part Time,4geeks-academy,10492
0,14-Week Intensive && Immersive Full-Stack Prog...,academia-de-codigo,10494
0,Actualize Coding Bootcamp: Full-Time,actualize,10505
...,...,...,...
5,Data Science and Machine Learning (Part-time),xccelerate,11175
6,Python for Finance,xccelerate,11175
7,Python Fundamentals,xccelerate,11175
8,Software Engineering Immersive Bootcamp (Full-...,xccelerate,11175
9,UX Design,xccelerate,11175

In [49]:
courses.dtypes

courses      object
school       object
school_id     int64
dtype: object

### Table badges

In [50]:
badges

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses,4geeks-academy,10492
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,4geeks-academy,10492
0,Available Online,available_online,<p>School offers fully online courses,actualize,10505
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,actualize,10505
0,Available Online,available_online,<p>School offers fully online courses,altcademy,10517
...,...,...,...,...,...
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,wyncode,11174
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,wyncode,11174
3,Accepts GI Bill,accepts_gi_bill,<p>School accepts the GI Bill,wyncode,11174
0,Available Online,available_online,<p>School offers fully online courses,xccelerate,11175
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,xccelerate,11175

In [51]:
badges.dtypes

name           object
keyword        object
description    object
school         object
school_id       int64
dtype: object

In [52]:
#For cleaning function
#badges['description'] = badges['description'].apply(clean_text_tag(badges['description']))
#badges['description']

In [53]:
badges

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses,4geeks-academy,10492
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,4geeks-academy,10492
0,Available Online,available_online,<p>School offers fully online courses,actualize,10505
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,actualize,10505
0,Available Online,available_online,<p>School offers fully online courses,altcademy,10517
...,...,...,...,...,...
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,wyncode,11174
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,wyncode,11174
3,Accepts GI Bill,accepts_gi_bill,<p>School accepts the GI Bill,wyncode,11174
0,Available Online,available_online,<p>School offers fully online courses,xccelerate,11175
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,xccelerate,11175

In [54]:
#Clean text from tags
badges['description'] = badges['description'].str.replace('<span class="truncatable"><p></p><p>','')
badges['description'] = badges['description'].str.replace('<span class="truncatable"><p>','')
badges['description'] = badges['description'].str.replace('<p>','')
badges['description'] = badges['description'].str.replace('</p>','')
badges['description'].sample(6)

0                   School offers fully online courses
0                   School offers fully online courses
0                   School offers fully online courses
1    School publishes a third-party verified outcom...
0                   School offers fully online courses
0                   School offers fully online courses
Name: description, dtype: object

In [55]:
badges

,name,keyword,description,school,school_id
0,Available Online,available_online,School offers fully online courses,4geeks-academy,10492
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,4geeks-academy,10492
0,Available Online,available_online,School offers fully online courses,actualize,10505
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,actualize,10505
0,Available Online,available_online,School offers fully online courses,altcademy,10517
...,...,...,...,...,...
1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,wyncode,11174
2,Flexible Classes,flexible_classes,School offers part-time and evening classes,wyncode,11174
3,Accepts GI Bill,accepts_gi_bill,School accepts the GI Bill,wyncode,11174
0,Available Online,available_online,School offers fully online courses,xccelerate,11175
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,xccelerate,11175

### Table schools

In [56]:
schools

,website,description,LogoUrl,school,school_id
0,www.4geeksacademy.co,"<span class=""truncatable""><p>4Geeks Academy is...",https://d92mrp7hetgfk.cloudfront.net/images/si...,4geeks-academy,10492
0,applyto.academiadecodigo.org,"<span class=""truncatable""><p>Founded in Lisbon...",https://d92mrp7hetgfk.cloudfront.net/images/si...,academia-de-codigo,10494
0,anyonecanlearntocode.com/?utm_source=switchup&...,"<span class=""truncatable""><p>Actualize is a co...",https://d92mrp7hetgfk.cloudfront.net/images/si...,actualize,10505
0,www.altcademy.com,"<span class=""truncatable""><p>Altcademy is a 10...",https://d92mrp7hetgfk.cloudfront.net/images/si...,altcademy,10517
0,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
...,...,...,...,...,...
0,uxdesigninstitute.com/,"<span class=""truncatable""><p>The UX Design Ins...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ux-design-institute,11150
0,www.uxerschool.com,"<span class=""truncatable""><p>UXER School is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,uxer-school,11151
0,wildcodeschool.com,"<span class=""truncatable""><p>Wild Code School ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,wild-code-school,11169
0,www.wyncode.co,"<span class=""truncatable""><p>Wyncode Academy i...",https://d92mrp7hetgfk.cloudfront.net/images/si...,wyncode,11174
0,xccelerate.co,"<span class=""truncatable""><p>Xccelerate is a s...",https://d92mrp7hetgfk.cloudfront.net/images/si...,xccelerate,11175

In [57]:
schools.dtypes

website        object
description    object
LogoUrl        object
school         object
school_id       int64
dtype: object

In [58]:
#Clean text from tags
schools['description'] = schools['description'].str.replace('<span class="truncatable"><p></p><p>','')
schools['description'] = schools['description'].str.replace('<span class="truncatable"><p>','')
schools['description'] = schools['description'].str.replace('<p>','')
schools['description'] = schools['description'].str.replace('</p>','')
schools['description'].sample(6)

0    SIT Academy offers 12-week full-time and 22-we...
0    Become a highly-skilled Data professional with...
0    Evolve Security Academy offers holistic cybers...
0    Devmountain is a coding bootcamp and design sc...
0    We provide exclusive IT training in South Afri...
0    H Academy helps empower individuals to build t...
Name: description, dtype: object

In [59]:
schools

,website,description,LogoUrl,school,school_id
0,www.4geeksacademy.co,4Geeks Academy is a Coding Bootcamp focused on...,https://d92mrp7hetgfk.cloudfront.net/images/si...,4geeks-academy,10492
0,applyto.academiadecodigo.org,"Founded in Lisbon in 2015, this Portuguese-bor...",https://d92mrp7hetgfk.cloudfront.net/images/si...,academia-de-codigo,10494
0,anyonecanlearntocode.com/?utm_source=switchup&...,Actualize is a coding bootcamp that values qua...,https://d92mrp7hetgfk.cloudfront.net/images/si...,actualize,10505
0,www.altcademy.com,Altcademy is a 100% online education institute...,https://d92mrp7hetgfk.cloudfront.net/images/si...,altcademy,10517
0,appacademy.io,App Academy is a coding school that offers onl...,https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
...,...,...,...,...,...
0,uxdesigninstitute.com/,"The UX Design Institute offers 6 month, online...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ux-design-institute,11150
0,www.uxerschool.com,"UXER School is an education startup, specializ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,uxer-school,11151
0,wildcodeschool.com,Wild Code School offers 5-month web developmen...,https://d92mrp7hetgfk.cloudfront.net/images/si...,wild-code-school,11169
0,www.wyncode.co,Wyncode Academy is a premier technical educato...,https://d92mrp7hetgfk.cloudfront.net/images/si...,wyncode,11174
0,xccelerate.co,Xccelerate is a socially-aligned education sta...,https://d92mrp7hetgfk.cloudfront.net/images/si...,xccelerate,11175

In [60]:
# Reseting all indexes

comments = comments.reset_index()
locations = locations.reset_index()
badges = badges.reset_index()
schools = schools.reset_index()
courses = courses.reset_index()

In [61]:
# Dropped columns: "user" and "comments" in comments to avoid problems 

comments.drop(['user','comments'], axis='columns', inplace=True)

## Sending dataframes to MySQL

In [62]:
import mysql.connector
import getpass

saved_password = getpass.getpass()
cnx = mysql.connector.connect(user = 'root', # Specify your user 
                              password = saved_password, 
                              host ='localhost', 
                              database = 'sakila',
                              auth_plugin='mysql_native_password')

········

In [63]:
cnx.is_connected()
if cnx.is_connected():
    print("Connection open")
    # do stuff you need to the database
else:
    print("Connection is not successfully open")

Connection open

In [64]:
cursor = cnx.cursor()

#Create database

def sql_db(db_name):
    query = f"CREATE DATABASE {db_name}"
    print(query)
    use_db = f"USE {db_name}"
    print(use_db)
    cursor.execute(query)
    cursor.execute(use_db)
    return db_name 

#Execute the full process of a query

def sql_action():
    query = input('Please write your query...')
    #cursor.execute(query,multi=True)
    results = cursor.fetchall()
    results_df = pd.DataFrame(results)
    return "Action completed" 

#Finalize SQL process

def sql_close_connection():
    return cnx.commit(), cursor.close(), cnx.close()

In [65]:
# Creating database - create it as string

db = sql_db("sql_project")

CREATE DATABASE sql_project
USE sql_project

In [66]:
# Alchemy setup 

from sqlalchemy import create_engine
import pymysql

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=saved_password,
                               db=db))

In [67]:
# Alchemy insert values - having problems when looped
badges.to_sql('badges', con = engine, if_exists = 'replace', chunksize = 1000)
locations.to_sql('locations', con = engine, if_exists = 'replace', chunksize = 1000)
courses.to_sql('courses', con = engine, if_exists = 'replace', chunksize = 1000)
schools.to_sql('schools', con = engine, if_exists = 'replace', chunksize = 1000)
comments.to_sql('comments', con = engine, if_exists = 'replace', chunksize = 1000)

In [68]:
# Setting primary KEYs with pandas default indexes - locations table has already an id so we would need to rename based on another keyword or keep it as level_0
cursor.execute("ALTER TABLE comments ADD PRIMARY KEY (level_0)")
cursor.execute("ALTER TABLE schools ADD PRIMARY KEY (level_0)")
cursor.execute("ALTER TABLE locations ADD PRIMARY KEY (level_0)")
cursor.execute("ALTER TABLE courses ADD PRIMARY KEY (level_0)")
cursor.execute("ALTER TABLE badges ADD PRIMARY KEY (level_0)")
cursor.fetchall()

[]