In [1]:
#Imports

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests

# Dictionary with top schools

In [2]:
schools = {   
'4geeks-academy'  : 10492,
'academia-de-codigo'  : 10494,
'actualize'  : 10505,
'altcademy'  : 10517,
'app-academy'  : 10525,
'bloomtech'  : 10854,
'brainstation'  : 10571,
'careerfoundry'  : 10581,
'careerist'  : 11280,
'claim-academy'  : 10589,
'clarusway'  : 11539,
'code-fellows'  : 10614,
'code-institute'  : 10619,
'codesmith'  : 10643,
'codeworks'  : 10650,
'coding-bootcamp-praha'  : 10658,
'coding-dojo'  : 10659,
'coding-temple'  : 10664,
#'correlation-one'  : 11528,
'datacamp'  : 10682,
'dataquest'  : 10683,
'data-science-dojo'  : 10685,
'datascientest'  : 11232,
'designlab'  : 10697,
'devcodecamp'  : 10703,
'developers-institute'  : 10705,
'devmountain'  : 10710,
'digitalcrafts'  : 10719,
'epicodus'  : 10739,
'evolve-security-academy'  : 10743,
'flatiron-school'  : 10748,
'general-assembly'  : 10761,
'greyatom-school-of-data-science'  : 10776,
'h-academy'  : 11518,
'hack-reactor'  : 10788,
'hacktiv8'  : 10791,
'hackwagon-academy'  : 10792,
'heicoders-academy'  : 11287,
'holberton-school'  : 10796,
'hyperiondev'  : 10801,
'ironhack'  : 10828,
'jedha'  : 10837,
'juno-college-of-technology'  : 10787,
'kenzie-academy'  : 10843,
'knowledgehut'  : 10846,
'la-capsule'  : 10853,
'learningfuze'  : 10862,
'le-wagon'  : 10868,
'lighthouse-labs'  : 10869,
'makers-academy'  : 10874,
'microverse'  : 10888,
'neoland'  : 10906,
'nucamp'  : 10923,
'nyc-data-science-academy'  : 10925,
'practicum'  : 11225,
'product-gym'  : 10959,
'product-school'  : 10960,
'react-graphql-academy'  : 10972,
'rmotr'  : 10987,
'rocket-academy'  : 11483,
'school-of-it'  : 11006,
'shecodes'  : 11014,
'simplilearn'  : 11016,
'sit-academy'  : 10965,
'skillcrush'  : 11020,
'software-development-academy'  : 11030,
'springboard'  : 11035,
'startup-institute'  : 11042,
'tech-elevator'  : 11056,
'tech-talent-south'  : 11059,
'the-job-hackers'  : 11085,
'the-tech-academy'  : 11091,
'thinkful'  : 11098,
'udacity'  : 11118,
'ux-design-institute'  : 11150,
'uxer-school'  : 11151,
'wild-code-school'  : 11169,
'wyncode'  : 11174,
'xccelerate'  : 11175,

}

# Functions

In [3]:
#Function for Scraping 
def get_comments_school(school):
    #This function extracts all the 
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [4]:
#get_comments_school('wyncode')

In [ ]:
"""comments = [get_comments_school(school) for school in schools.keys()]
print("Finished collecting comments.")
comments = pd.concat(comments)"""

In [5]:
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

4geeks-academy
academia-de-codigo
actualize
altcademy
app-academy
bloomtech
brainstation
careerfoundry
careerist
claim-academy
clarusway
code-fellows
code-institute
codesmith
codeworks
coding-bootcamp-praha
coding-dojo
coding-temple
datacamp
dataquest
data-science-dojo
datascientest
designlab
devcodecamp
developers-institute
devmountain
digitalcrafts
epicodus
evolve-security-academy
flatiron-school
general-assembly
greyatom-school-of-data-science
h-academy
hack-reactor
hacktiv8
hackwagon-academy
heicoders-academy
holberton-school
hyperiondev
ironhack
jedha
juno-college-of-technology
kenzie-academy
knowledgehut
la-capsule
learningfuze
le-wagon
lighthouse-labs
makers-academy
microverse
neoland
nucamp
nyc-data-science-academy
practicum
product-gym
product-school
react-graphql-academy
rmotr
rocket-academy
school-of-it
shecodes
simplilearn
sit-academy
skillcrush
software-development-academy
springboard
startup-institute
tech-elevator
tech-talent-south
the-job-hackers
the-tech-academy
thinkful
udacity
ux-design-institute
uxer-school
wild-code-school
wyncode
xccelerate

In [8]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

In [9]:
locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

4geeks-academy

C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_2332/4240401434.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  locations_df = json_normalize(locations)

academia-de-codigo
actualize
altcademy
app-academy
bloomtech
brainstation
careerfoundry
careerist
claim-academy
clarusway
code-fellows
code-institute
codesmith
codeworks
coding-bootcamp-praha
coding-dojo
coding-temple
datacamp
dataquest
data-science-dojo
datascientest
designlab
devcodecamp
developers-institute
devmountain
digitalcrafts
epicodus
evolve-security-academy
flatiron-school
general-assembly
greyatom-school-of-data-science
h-academy
hack-reactor
hacktiv8
hackwagon-academy
heicoders-academy
holberton-school
hyperiondev
ironhack
jedha
juno-college-of-technology
kenzie-academy
knowledgehut
la-capsule
learningfuze
le-wagon
lighthouse-labs
makers-academy
microverse
neoland
nucamp
nyc-data-science-academy
practicum
product-gym
product-school
react-graphql-academy
rmotr
rocket-academy
school-of-it
shecodes
simplilearn
sit-academy
skillcrush
software-development-academy
springboard
startup-institute
tech-elevator
tech-talent-south
the-job-hackers
the-tech-academy
thinkful
udacity
ux-design-institute
uxer-school
wild-code-school
wyncode
xccelerate

In [10]:
#Dataframes creation 
locations = pd.concat(locations_list)
courses = pd.concat(courses_list)
badges = pd.concat(badges_list)
schools = pd.concat(schools_list)

In [11]:
#Function to clean
def clean_text_tag(col):
    col.str.replace('<span class="truncatable"><p></p><p>','')
    col.str.replace('<span class="truncatable"><p>','')
    col.str.replace('<p>','')
    col.str.replace('</p>','')

# Dataframes exploration

In [10]:
# Tables / dataframes
    # comments
    # locations
    # courses
    # badges
    # schools

In [11]:
#Sizes for all
print('Comments',comments.shape)
print('locations',locations.shape)
print('courses',courses.shape)
print('badges',badges.shape)
print('schools',schools.shape)

Comments (23981, 21)
locations (506, 14)
courses (536, 3)
badges (163, 5)
schools (78, 5)

### We start exploring for cleaning process by table/dataframe

In [12]:
#we start with comments
comments.describe()

                  id  graduatingYear
count   24005.000000    23770.000000
mean   257639.691064     2018.818006
std     16315.662118        1.839776
min    231508.000000     2010.000000
25%    243274.000000     2018.000000
50%    257251.000000     2019.000000
75%    271403.000000     2020.000000
max    287431.000000     2022.000000

In [13]:
comments.sample(15)

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
335,241732,David Conner,False,None,2016.0,True,None,Genuine Program and Staff,"<span class=""truncatable""><p>I've checked out ...",I've checked out nearly all of the coding boot...,...,2018-01-16,None,{'image': None},5.0,[],5.0,5.0,5.0,I've checked out nearly all of the coding boot...,thinkful
719,243884,Anonymous,True,Data Analytics,2017.0,True,Accounting Technician,Data Analytics Fall 2017,"<span class=""truncatable""><p>The pros of takin...",The pros of taking the 10 week Data Analytics ...,...,2018-02-21,Data Analytics,{'image': None},4.0,[],4.0,4.0,NaN,The pros of taking the 10 week Data Analytics ...,general-assembly
123,241347,Steven Rodriguez,False,Web Development,2017.0,True,None,From A Beginner's Perspective,"<span class=""truncatable""><p>The first time I ...",The first time I had ever attempted to code wa...,...,2017-06-06,None,{'image': None},5.0,[],5.0,5.0,5.0,The first time I had ever attempted to code wa...,digitalcrafts
985,256038,Théo Rouland,False,Software Engineering,2019.0,True,None,Life-changing experience,"<span class=""truncatable""><p>As a business sch...",As a business school student and young product...,...,2019-10-03,None,{'image': None},5.0,[],5.0,5.0,5.0,As a business school student and young product...,le-wagon
123,235767,Angela Barnes,False,None,2017.0,True,Database Administrator,Enjoyed the overall course,"<span class=""truncatable""><p>I enjoyed the cou...",I enjoyed the course as a whole. The teachers ...,...,2017-05-26,None,{'image': None},3.7,[],4.0,4.0,3.0,I enjoyed the course as a whole. The teachers ...,bloomtech
91,261179,Stanley Hall,False,Software Engineering,2019.0,False,None,this course is really good compared to some of...,"<span class=""truncatable""><p>Excellent trainin...",Excellent training to get a grip on front end ...,...,2020-01-20,,{'image': None},4.7,[],5.0,4.0,5.0,Excellent training to get a grip on front end ...,practicum
84,253682,Juliann Talkington,False,Software Engineering,2019.0,True,None,Great program,"<span class=""truncatable""><p>​Whether you are ...",​Whether you are looking for technical trainin...,...,2019-08-25,None,{'image': None},5.0,[],5.0,5.0,5.0,​Whether you are looking for technical trainin...,learningfuze
31,265039,Omar Jabara,False,Product Management,2020.0,False,,Product School - Product Management certification,"<span class=""truncatable""><p>I recently comple...",I recently completed the 5 day intensive Produ...,...,2020-05-28,Product Management Certificate,{'image': None},5.0,[],5.0,5.0,5.0,I recently completed the 5 day intensive Produ...,product-school
156,245851,Anonymous,True,Software Engineering,2018.0,True,None,Time not wasted,"<span class=""truncatable""><p>If you are lookin...",If you are looking for a coding bootcamp to st...,...,2018-12-10,Full Stack Flex - Online,{'image': None},4.3,[],5.0,4.0,4.0,If you are looking for a coding bootcamp to st...,thinkful
322,266608,Rafael Chapine,False,Software Engineering,2020.0,False,Web development fundamentals,Great code boot camp,"<span class=""truncatable""><p>Awesome flow, eve...","Awesome flow, everything is linked and organiz...",...,2020-07-20,Web Development Fundamentals,{'image': None},4.7,[],5.0,4.0,5.0,"Awesome flow, everything is linked and organiz...",nucamp
117,253305,Michael Galas,False,Software Engineering,2018.0,True,None,Great C# &amp; .NET Bootcamp,<p>I took the C# &amp; .NET Framework and lear...,I took the C# & .NET Framework and learned a l...,...,2019-07-21,C# and .NET Framework Boot Camp,{'image': None},5.0,[],5.0,5.0,5.0,I took the C# &amp; .NET Framework and learned...,the-tech-academy
467,262350,Griffin Schulert,False,None,2020.0,True,,Nucamp Web Development Fundamentals - Learn to...,"<span class=""truncatable""><p></p><p>The Nucamp...","<p>The Nucamp intro to HTML, CSS and Javascrip...",...,2020-02-29,,{'image': None},4.7,[],5.0,4.0,5.0,"The Nucamp intro to HTML, CSS and Javascript c...",nucamp
141,246800,Luís Ferreira,False,Software Engineering,2017.0,True,None,Best experience ever!!,"<span class=""truncatable""><p> provided me the ...",<Academia de Código_> provided me the best exp...,...,2019-03-01,14-Week Intensive && Immersive Full-Stack Prog...,{'image': None},5.0,[],5.0,5.0,5.0,provided me the best experience I ever had in...,academia-de-codigo
150,241865,Agustinus,False,None,2017.0,True,None,Best courses to learn Javascript,<p>Benar benar jadi siap kerja. Tekanan untuk ...,Benar benar jadi siap kerja. Tekanan untuk ter...,...,2018-01-22,None,{'image': None},4.7,[],5.0,4.0,5.0,Benar benar jadi siap kerja. Tekanan untuk ter...,hacktiv8
101,258806,Alex J,False,UX/UI Design,2019.0,False,None,Well worth it,"<span class=""truncatable""><p>Really enjoyed th...","Really enjoyed this course, particularly havin...",...,2019-11-15,Professional Diploma in UX Design,{'image': None},5.0,[],5.0,5.0,5.0,"Really enjoyed this course, particularly havin...",ux-design-institute

In [14]:
# Review types for the columns
#We can see that some columns should be numbers float/int and they arent 
comments.dtypes

id                   int64
name                object
anonymous             bool
hostProgramName     object
graduatingYear     float64
isAlumni            object
jobTitle            object
tagline             object
body                object
rawBody             object
createdAt           object
queryDate           object
program             object
user                object
overallScore        object
comments            object
overall             object
curriculum          object
jobSupport          object
review_body         object
school              object
dtype: object

In [15]:
#Validation for empty values
comments.isnull().sum()

id                     0
name                   0
anonymous              0
hostProgramName    13407
graduatingYear       235
isAlumni              17
jobTitle            9285
tagline                3
body                   0
rawBody                0
createdAt              0
queryDate              0
program             3665
user                   0
overallScore          48
comments               0
overall               50
curriculum           878
jobSupport          3179
review_body            0
school                 0
dtype: int64

In [16]:
#There are empty spaces
comments[comments['overallScore'].isnull()].count()

id                 48
name               48
anonymous          48
hostProgramName    11
graduatingYear     41
isAlumni           48
jobTitle            7
tagline            47
body               48
rawBody            48
createdAt          48
queryDate          48
program            24
user               48
overallScore        0
comments           48
overall             0
curriculum          0
jobSupport          0
review_body        48
school             48
dtype: int64

In [17]:
comments['overallScore'].unique()

array(['5.0', '3.7', '2.0', '4.7', '4.3', '3.0', '4.0', '4.5', '3.5',
       '3.3', '2.3', '1.7', '1.5', '1.0', '2.7', '1.3', '2.5', None,
       '4.2', '4.8', '3.2'], dtype=object)

In [18]:
comments['overall'].unique()

array(['5.0', '2.0', '4.0', '3.0', '1.0', nan, '4.5', '3.5'], dtype=object)

In [19]:
comments['overallScore'].value_counts()

5.0    15841
4.7     2947
4.3     1670
4.0     1492
3.7      568
4.5      264
1.0      230
3.3      226
3.0      221
2.0      116
2.7       92
2.3       80
1.7       73
1.3       68
3.5       34
2.5       16
1.5       15
4.2        2
4.8        1
3.2        1
Name: overallScore, dtype: int64

In [20]:
comments['overall'].value_counts()

5.0    20231
4.0     2793
3.0      359
1.0      348
2.0      218
4.5        5
3.5        1
Name: overall, dtype: int64

In [21]:
comments['comments'].isnull().sum()

0

In [22]:
comments['curriculum'].unique()

array(['5.0', '2.0', '4.0', '3.0', nan, '1.0', '2.5'], dtype=object)

In [23]:
comments['jobSupport'].unique()

array(['5.0', '1.0', '2.0', '3.0', '4.0', nan], dtype=object)

## Cleanning proccess for all the tables

### Table comments

In [24]:
comments[['overallScore','overall','curriculum','jobSupport']] = comments[['overallScore','overall','curriculum','jobSupport']].astype('float64')

In [25]:
comments.dtypes

id                   int64
name                object
anonymous             bool
hostProgramName     object
graduatingYear     float64
isAlumni            object
jobTitle            object
tagline             object
body                object
rawBody             object
createdAt           object
queryDate           object
program             object
user                object
overallScore       float64
comments            object
overall            float64
curriculum         float64
jobSupport         float64
review_body         object
school              object
dtype: object

In [26]:
comments['graduatingYear'].unique()

array([2022., 2021., 2020., 2019., 2018., 2016., 2017., 2015., 2014.,
       2012.,   nan, 2011., 2013., 2010.])

In [27]:
#For empty/nan we will replace it with 0 , it Could be another Value like No Date
comments['graduatingYear'] = comments['graduatingYear'].fillna(0)

In [28]:
comments['graduatingYear'].unique()

array([2022., 2021., 2020., 2019., 2018., 2016., 2017., 2015., 2014.,
       2012.,    0., 2011., 2013., 2010.])

In [29]:
#pd.to_datetime(comments['graduatingYear'])
#comments['graduatingYear'].dt.strftime('%d.%m.%Y')

comments['graduatingYear'] = comments['graduatingYear'].astype('int64')

In [30]:
comments['graduatingYear'].unique()

array([2022, 2021, 2020, 2019, 2018, 2016, 2017, 2015, 2014, 2012,    0,
       2011, 2013, 2010], dtype=int64)

In [31]:
comments.dtypes

id                   int64
name                object
anonymous             bool
hostProgramName     object
graduatingYear       int64
isAlumni            object
jobTitle            object
tagline             object
body                object
rawBody             object
createdAt           object
queryDate           object
program             object
user                object
overallScore       float64
comments            object
overall            float64
curriculum         float64
jobSupport         float64
review_body         object
school              object
dtype: object

In [32]:
#Changing column to datetime type
comments['queryDate'] = pd.to_datetime(comments['queryDate'])
#comments['queryDate'].dt.strftime('%d.%m.%Y')
comments['queryDate']

0     2022-04-01
1     2022-03-24
2     2022-03-23
3     2022-03-17
4     2022-03-17
         ...
182   2017-11-28
183   2017-10-25
184   2017-10-19
185   2017-09-13
186   2017-08-03
Name: queryDate, Length: 24005, dtype: datetime64[ns]

In [33]:
#Changing column to datetime type
comments['createdAt'] = pd.to_datetime(comments['createdAt'])
#comments['queryDate'].dt.strftime('%d.%m.%Y')
comments['createdAt']

0     2022-04-01
1     2022-03-24
2     2022-03-23
3     2022-03-17
4     2022-03-17
         ...
182   2017-11-28
183   2017-10-25
184   2017-10-19
185   2017-09-13
186   2017-08-03
Name: createdAt, Length: 24005, dtype: datetime64[ns]

In [34]:
comments.dtypes

id                          int64
name                       object
anonymous                    bool
hostProgramName            object
graduatingYear              int64
isAlumni                   object
jobTitle                   object
tagline                    object
body                       object
rawBody                    object
createdAt          datetime64[ns]
queryDate          datetime64[ns]
program                    object
user                       object
overallScore              float64
comments                   object
overall                   float64
curriculum                float64
jobSupport                float64
review_body                object
school                     object
dtype: object

In [35]:
comments.sample(3)

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
168,245267,Anonymous,True,Data Science,2018,True,None,Great intro do deep learning,"<span class=""truncatable""><p>I enrolled in thi...",I enrolled in this course with some working kn...,...,2018-10-29,Deep Learning,{'image': None},4.5,[],4.0,5.0,NaN,I enrolled in this course with some working kn...,nyc-data-science-academy
104,256073,David Ferreira,False,Software Engineering,2019,True,None,Amazing Bootcamp,<p>The bootcamp was an experience that prepare...,The <Academia de Código_> bootcamp was an expe...,...,2019-10-04,None,{'image': None},5.0,[],5.0,5.0,5.0,The bootcamp was an experience that prepared m...,academia-de-codigo
36,286145,Anonymous,True,None,2022,True,UX Designer,Helpful and insightful. Really worked with my ...,"<span class=""truncatable""><p></p><p>I learned ...",<p>I learned a lot. I plan on transitioning to...,...,2022-02-22,UX Academy,{'image': None},3.7,[],4.0,4.0,3.0,I learned a lot. I plan on transitioning to UX...,designlab

In [36]:
#Not usefull columns
# user
comments['user'].sample(4)

95      {'image': None}
1184    {'image': None}
1220    {'image': None}
1377    {'image': None}
Name: user, dtype: object

In [37]:
#Already droped,
#comments.drop(['user'],axis=1,inplace=True)

In [38]:
comments.head()

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,287305,Javier Leyva Seiglie,False,None,2022,False,Full Stack web developer,"On a simple word, the actual best","<span class=""truncatable""><p></p><p>This is a ...",<p>This is a beast! The best! I attain the ful...,...,2022-04-01,Full Stack Software Development,{'image': None},5.0,[],5.0,5.0,5.0,This is a beast! The best! I attain the full s...,4geeks-academy
1,287077,Oswaldo Salas,False,None,2021,False,,Obtener mucho conocimiento sin frustrarte,"<span class=""truncatable""><p></p><p>Me gusto m...",<p>Me gusto mucho la din&aacute;mica para ir s...,...,2022-03-24,Full Stack Software Development,{'image': None},5.0,[],5.0,5.0,5.0,Me gusto mucho la dinámica para ir superando c...,4geeks-academy
2,287024,Oswaldo Salas,False,None,2021,False,,Obtener mucho conocimiento sin frustrarte,"<span class=""truncatable""><p></p><p>Particular...",<p>Particularmente creo que el programa de ent...,...,2022-03-23,Full Stack Software Development,{'image': None},3.7,[],5.0,5.0,1.0,Particularmente creo que el programa de entren...,4geeks-academy
3,286880,Aaron Arismendi,False,None,2021,False,Desarrollador Full Stack,Una experiencia única,"<span class=""truncatable""><p></p><p>No sabía n...",<p>No sab&iacute;a nada a cerca de programaci&...,...,2022-03-17,Full Stack Software Development,{'image': None},5.0,[],5.0,5.0,5.0,No sabía nada a cerca de programación hasta qu...,4geeks-academy
4,286878,Octavio Lara,False,None,2021,False,Software engineer,A fulfilling experience,"<span class=""truncatable""><p></p><p>I'd say th...",<p>I&#39;d say the main pro would be the commu...,...,2022-03-17,Full Stack Software Development Part Time,{'image': None},5.0,[],5.0,5.0,5.0,I'd say the main pro would be the community. T...,4geeks-academy

In [39]:
#Adjust Text eliminaring <p>
comments['rawBody'] = comments['rawBody'].str.replace('<p>','')
comments['rawBody']
#= comments['rawBody']

0      This is a beast! The best! I attain the full s...
1      Me gusto mucho la din&aacute;mica para ir supe...
2      Particularmente creo que el programa de entren...
3      No sab&iacute;a nada a cerca de programaci&oac...
4      I&#39;d say the main pro would be the communit...
                             ...
182    You never know how you can improve if you don'...
183    This course has provided me with the right too...
184    Nice bootcamp for people to learn who to codin...
185    Everything I learned was broad enough to be re...
186    Accelerate was a good choice for me because I ...
Name: rawBody, Length: 24005, dtype: object

In [40]:
comments['body'] = comments['body'].str.replace('<span class="truncatable"><p></p><p>','')
comments['body'] = comments['body'].str.replace('<span class="truncatable"><p>','')
comments['body'] = comments['body'].str.replace('<p>','')
badges['description'] = badges['description'].str.replace('</p>','')
comments['body'].sample(6)

214    I actually searched online for different PM co...
49     This was a great program to get started and it...
230    Are you stuck in a career that you aren't pass...
340    I recently graduated and am freshly entering t...
12     I thought the class was very informational &am...
86     Well, to be honest, I was really scared to sta...
Name: body, dtype: object

In [41]:
comments.sample(5)

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
55,285920,Anonymous,True,None,2022,False,,SheCodes is awesome!,SheCodes Basic was amazing! The curriculum is ...,SheCodes Basic was amazing! The curriculum is ...,...,2022-02-16,SheCodes Basics,{'image': None},5.0,[],5.0,5.0,5.0,SheCodes Basic was amazing! The curriculum is ...,shecodes
167,275276,David,False,None,2020,False,Junior Java Developer,It delivers on its promises.,I have managed to successfully change my caree...,I have managed to successfully change my caree...,...,2021-03-29,Java - EE,{'image': None},5.0,[],5.0,5.0,5.0,I have managed to successfully change my caree...,software-development-academy
151,267579,Andrew H,False,None,2020,False,,Great Learning Experience,"Overall, I'm very happy I decided to join Iron...","Overall, I'm very happy I decided to join Iron...",...,2020-08-18,Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,"Overall, I'm very happy I decided to join Iron...",ironhack
183,268708,Olivia B,False,None,2020,False,Digital Project Manager,It was definitely a very good decision for me !,I have worked for several years in digital mar...,I have worked for several years in digital mar...,...,2020-09-23,Fullstack JavaScript Web Developer,{'image': None},5.0,[],5.0,5.0,5.0,I have worked for several years in digital mar...,la-capsule
642,244815,Otniel Gutiérrez,False,Software Engineering,2018,True,Full Stack Web Developer,Increíble pero real,Soy un chavo de 23 años que no sabía hacer nad...,Soy un chavo de 23 años que no sabía hacer nad...,...,2018-08-22,Full-time Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,Soy un chavo de 23 años que no sabía hacer nad...,ironhack

### Table locations

In [42]:
locations.sample(5)

,id,description,country.id,country.name,country.abbrev,state.id,state.name,state.abbrev,state.keyword,city.id,city.name,city.keyword,school,school_id
2,17720,Online,NaN,NaN,NaN,1.0,Online,Online,online,NaN,NaN,NaN,product-gym,10959
1,16426,"Berlin, Germany",57.0,Germany,DE,NaN,NaN,NaN,NaN,31156.0,Berlin,berlin,careerfoundry,10581
89,16904,"Tuscaloosa, AL, United States",1.0,United States,US,2.0,Alabama,AL,alabama,697.0,Tuscaloosa,tuscaloosa,nucamp,10923
11,16592,Online,NaN,NaN,NaN,1.0,Online,Online,online,NaN,NaN,NaN,product-school,10960
0,16627,"Lisbon, Portugal",28.0,Portugal,PT,NaN,NaN,NaN,NaN,31075.0,Lisbon,lisbon,academia-de-codigo,10494

In [44]:
locations.columns = locations.columns.str.replace('.', '_')

C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_2332/1538475286.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  locations.columns = locations.columns.str.replace('.', '_')

In [45]:
locations.sample(5)

,id,description,country_id,country_name,country_abbrev,state_id,state_name,state_abbrev,state_keyword,city_id,city_name,city_keyword,school,school_id
13,17137,"Strasbourg, France",38.0,France,FR,NaN,NaN,NaN,NaN,31190.0,Strasbourg,strasbourg,wild-code-school,11169
13,16828,"Bellevue, WA, United States",1.0,United States,US,49.0,Washington,WA,washington,1193.0,Bellevue,bellevue,nucamp,10923
1,16127,"Columbus, OH, United States",1.0,United States,US,37.0,Ohio,OH,ohio,70.0,Columbus,columbus,tech-elevator,11056
3,16759,"Maracaibo , Venezuela",58.0,Venezuela,VE,NaN,NaN,NaN,NaN,31160.0,Maracaibo,maracaibo,4geeks-academy,10492
0,15712,"Seattle, WA",1.0,United States,US,49.0,Washington,WA,washington,1193.0,Bellevue,bellevue,coding-dojo,10659

In [46]:
locations.dtypes

id                  int64
description        object
country_id        float64
country_name       object
country_abbrev     object
state_id          float64
state_name         object
state_abbrev       object
state_keyword      object
city_id           float64
city_name          object
city_keyword       object
school             object
school_id           int64
dtype: object

In [47]:
#Validation for empty values
locations.isnull().sum()

id                  0
description         0
country_id         65
country_name       65
country_abbrev     65
state_id          228
state_name        228
state_abbrev      228
state_keyword     229
city_id            66
city_name          66
city_keyword       66
school              0
school_id           0
dtype: int64

In [48]:
locations.isna()

,id,description,country_id,country_name,country_abbrev,state_id,state_name,state_abbrev,state_keyword,city_id,city_name,city_keyword,school,school_id
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,True,True,True,False,False,False,False,False
2,False,False,False,False,False,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,False,False,True,True,True,False,False,False,False,True,True,True,False,False
25,False,False,False,False,False,True,True,True,True,False,False,False,False,False
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
0,False,False,False,False,False,True,True,True,True,False,False,False,False,False
1,False,False,True,True,True,False,False,False,False,True,True,True,False,False

In [51]:
locations[['description','country_id','country_name']].sample(4)
#Empty conuntries is bevause is online

                  description  country_id   country_name
0                      Online         NaN            NaN
3   Boston, MA, United States         1.0  United States
1            Barcelona, Spain        12.0          Spain
27           Craiova, Romania         4.0        Romania

In [52]:
locations['description'][locations['country_name'].isnull()].unique()

array(['Online'], dtype=object)

### Table courses

In [53]:
#This one looks ok
courses

,courses,school,school_id
0,Ai and Machine Learning Full-Stack Program,4geeks-academy,10492
1,Full Stack Software Development,4geeks-academy,10492
2,Full Stack Software Development Part Time,4geeks-academy,10492
0,14-Week Intensive && Immersive Full-Stack Prog...,academia-de-codigo,10494
0,Actualize Coding Bootcamp: Full-Time,actualize,10505
...,...,...,...
5,Data Science and Machine Learning (Part-time),xccelerate,11175
6,Python for Finance,xccelerate,11175
7,Python Fundamentals,xccelerate,11175
8,Software Engineering Immersive Bootcamp (Full-...,xccelerate,11175
9,UX Design,xccelerate,11175

In [54]:
courses.dtypes

courses      object
school       object
school_id     int64
dtype: object

### Table badges

In [55]:
badges

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses,4geeks-academy,10492
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,4geeks-academy,10492
0,Available Online,available_online,<p>School offers fully online courses,actualize,10505
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,actualize,10505
0,Available Online,available_online,<p>School offers fully online courses,altcademy,10517
...,...,...,...,...,...
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,wyncode,11174
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,wyncode,11174
3,Accepts GI Bill,accepts_gi_bill,<p>School accepts the GI Bill,wyncode,11174
0,Available Online,available_online,<p>School offers fully online courses,xccelerate,11175
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,xccelerate,11175

In [56]:
badges.dtypes

name           object
keyword        object
description    object
school         object
school_id       int64
dtype: object

In [57]:
#For cleaning function
#badges['description'] = badges['description'].apply(clean_text_tag(badges['description']))
#badges['description']

In [58]:
badges

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses,4geeks-academy,10492
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,4geeks-academy,10492
0,Available Online,available_online,<p>School offers fully online courses,actualize,10505
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,actualize,10505
0,Available Online,available_online,<p>School offers fully online courses,altcademy,10517
...,...,...,...,...,...
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,wyncode,11174
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,wyncode,11174
3,Accepts GI Bill,accepts_gi_bill,<p>School accepts the GI Bill,wyncode,11174
0,Available Online,available_online,<p>School offers fully online courses,xccelerate,11175
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes,xccelerate,11175

In [59]:
#Clean text from tags
badges['description'] = badges['description'].str.replace('<span class="truncatable"><p></p><p>','')
badges['description'] = badges['description'].str.replace('<span class="truncatable"><p>','')
badges['description'] = badges['description'].str.replace('<p>','')
badges['description'] = badges['description'].str.replace('</p>','')
badges['description'].sample(6)

1    School offers part-time and evening classes
0             School offers fully online courses
0             School offers fully online courses
0             School offers fully online courses
1    School offers part-time and evening classes
2    School offers part-time and evening classes
Name: description, dtype: object

In [60]:
badges

,name,keyword,description,school,school_id
0,Available Online,available_online,School offers fully online courses,4geeks-academy,10492
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,4geeks-academy,10492
0,Available Online,available_online,School offers fully online courses,actualize,10505
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,actualize,10505
0,Available Online,available_online,School offers fully online courses,altcademy,10517
...,...,...,...,...,...
1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,wyncode,11174
2,Flexible Classes,flexible_classes,School offers part-time and evening classes,wyncode,11174
3,Accepts GI Bill,accepts_gi_bill,School accepts the GI Bill,wyncode,11174
0,Available Online,available_online,School offers fully online courses,xccelerate,11175
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,xccelerate,11175

### Table schools

In [61]:
schools

,website,description,LogoUrl,school,school_id
0,www.4geeksacademy.co,"<span class=""truncatable""><p>4Geeks Academy is...",https://d92mrp7hetgfk.cloudfront.net/images/si...,4geeks-academy,10492
0,applyto.academiadecodigo.org,"<span class=""truncatable""><p>Founded in Lisbon...",https://d92mrp7hetgfk.cloudfront.net/images/si...,academia-de-codigo,10494
0,anyonecanlearntocode.com/?utm_source=switchup&...,"<span class=""truncatable""><p>Actualize is a co...",https://d92mrp7hetgfk.cloudfront.net/images/si...,actualize,10505
0,www.altcademy.com,"<span class=""truncatable""><p>Altcademy is a 10...",https://d92mrp7hetgfk.cloudfront.net/images/si...,altcademy,10517
0,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
...,...,...,...,...,...
0,uxdesigninstitute.com/,"<span class=""truncatable""><p>The UX Design Ins...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ux-design-institute,11150
0,www.uxerschool.com,"<span class=""truncatable""><p>UXER School is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,uxer-school,11151
0,wildcodeschool.com,"<span class=""truncatable""><p>Wild Code School ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,wild-code-school,11169
0,www.wyncode.co,"<span class=""truncatable""><p>Wyncode Academy i...",https://d92mrp7hetgfk.cloudfront.net/images/si...,wyncode,11174
0,xccelerate.co,"<span class=""truncatable""><p>Xccelerate is a s...",https://d92mrp7hetgfk.cloudfront.net/images/si...,xccelerate,11175

In [62]:
schools.dtypes

website        object
description    object
LogoUrl        object
school         object
school_id       int64
dtype: object

In [63]:
#Clean text from tags
schools['description'] = schools['description'].str.replace('<span class="truncatable"><p></p><p>','')
schools['description'] = schools['description'].str.replace('<span class="truncatable"><p>','')
schools['description'] = schools['description'].str.replace('<p>','')
schools['description'] = schools['description'].str.replace('</p>','')
schools['description'].sample(6)

0    Dataquest offers online, 24-week project-based...
0    Practicum is an online coding bootcamp aimed a...
0    The UX Design Institute offers 6 month, online...
0    Ironhack is a global tech school with 9 campus...
0    Devmountain is a coding bootcamp and design sc...
0    Microverse offers an online, full-time, Full S...
Name: description, dtype: object

In [64]:
schools

,website,description,LogoUrl,school,school_id
0,www.4geeksacademy.co,4Geeks Academy is a Coding Bootcamp focused on...,https://d92mrp7hetgfk.cloudfront.net/images/si...,4geeks-academy,10492
0,applyto.academiadecodigo.org,"Founded in Lisbon in 2015, this Portuguese-bor...",https://d92mrp7hetgfk.cloudfront.net/images/si...,academia-de-codigo,10494
0,anyonecanlearntocode.com/?utm_source=switchup&...,Actualize is a coding bootcamp that values qua...,https://d92mrp7hetgfk.cloudfront.net/images/si...,actualize,10505
0,www.altcademy.com,Altcademy is a 100% online education institute...,https://d92mrp7hetgfk.cloudfront.net/images/si...,altcademy,10517
0,appacademy.io,App Academy is a coding school that offers onl...,https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
...,...,...,...,...,...
0,uxdesigninstitute.com/,"The UX Design Institute offers 6 month, online...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ux-design-institute,11150
0,www.uxerschool.com,"UXER School is an education startup, specializ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,uxer-school,11151
0,wildcodeschool.com,Wild Code School offers 5-month web developmen...,https://d92mrp7hetgfk.cloudfront.net/images/si...,wild-code-school,11169
0,www.wyncode.co,Wyncode Academy is a premier technical educato...,https://d92mrp7hetgfk.cloudfront.net/images/si...,wyncode,11174
0,xccelerate.co,Xccelerate is a socially-aligned education sta...,https://d92mrp7hetgfk.cloudfront.net/images/si...,xccelerate,11175

In [65]:
# Reseting all indexes

comments = comments.reset_index()
locations = locations.reset_index()
badges = badges.reset_index()
schools = schools.reset_index()
courses = courses.reset_index()

In [66]:
# Dropped columns: "user" and "comments" in comments to avoid problems 

comments.drop(['user','comments'], axis='columns', inplace=True)

## Sending dataframes to MySQL

In [67]:
import mysql.connector
import getpass

saved_password = getpass.getpass()
cnx = mysql.connector.connect(user = 'root', # Specify your user 
                              password = saved_password, 
                              host ='localhost', 
                              database = 'sakila',
                              auth_plugin='mysql_native_password')

········

In [69]:
cnx.is_connected()
if cnx.is_connected():
    print("Connection open")
    # do stuff you need to the database
else:
    print("Connection is not successfully open")

Connection open

In [70]:
cursor = cnx.cursor()

#Create database

def sql_db(db_name):
    query = f"CREATE DATABASE {db_name}"
    print(query)
    use_db = f"USE {db_name}"
    print(use_db)
    cursor.execute(query)
    cursor.execute(use_db)
    return db_name 

#Execute the full process of a query

def sql_action():
    query = input('Please write your query...')
    #cursor.execute(query,multi=True)
    results = cursor.fetchall()
    results_df = pd.DataFrame(results)
    return "Action completed" 

#Finalize SQL process

def sql_close_connection():
    return cnx.commit(), cursor.close(), cnx.close()

In [71]:
# Creating database - create it as string

db = sql_db("sql_project")

CREATE DATABASE sql_project
USE sql_project

In [72]:
# Alchemy setup 

from sqlalchemy import create_engine
import pymysql # run pip install pymysql (pip3 for Mac) 

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=saved_password,
                               db=db))

In [73]:
# Alchemy insert values - having problems when looped
badges.to_sql('badges', con = engine, if_exists = 'replace', chunksize = 1000)
locations.to_sql('locations', con = engine, if_exists = 'replace', chunksize = 1000)
courses.to_sql('courses', con = engine, if_exists = 'replace', chunksize = 1000)
schools.to_sql('schools', con = engine, if_exists = 'replace', chunksize = 1000)
comments.to_sql('comments', con = engine, if_exists = 'replace', chunksize = 1000)

In [ ]:
# Setting primary KEYs with pandas default indexes - locations table has already an id so we would need to rename based on another keyword or keep it as level_0
cursor.execute("ALTER TABLE comments ADD PRIMARY KEY (level_0)")
cursor.execute("ALTER TABLE schools ADD PRIMARY KEY (level_0)")
cursor.execute("ALTER TABLE locations ADD PRIMARY KEY (level_0)")
cursor.execute("ALTER TABLE courses ADD PRIMARY KEY (level_0)")
cursor.execute("ALTER TABLE badges ADD PRIMARY KEY (level_0)")
cursor.fetchall()